.footer {
  padding: 56px 0;
  background-color: var(--black-color);

  &__wrapp {
    display: grid;
    grid-template-columns: 30% 20% auto;
  }
  &__menu-item {
    margin-right: 30px;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__menu-link {
    font-size: 16px;
    font-weight: 400;
    color: var(--light-color);
    transition: color 0.3s ease;
    &:hover {
      color: var(--gray-color);
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    width: 35px;
    height: 35px;
  }

  &__social-link {
    margin-bottom: 10px;


    & path {
      transition: all 0.3s ease-out;
    }

    &:hover path {
      fill: var(--gray-color);

    }
  }

  &__contacts {
    display: flex;
    padding-left: 50px;
    flex-direction: column;
  }

  &__contacts-wrap  {
    display: flex;
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__link {
    font-size: 16px;
    font-weight: 400;
    color: var(--light-color);
    line-height: 16px;
    transition: all 0.3s ease-out;

    &:hover {
      color: var(--gray-color);
    }
  }

  &__address {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    color: var(--light-color);
  }

  &__policy {
    max-width: 250px;
    font-size: 14px;
    font-weight: 400;
    color: var(--gray-color);
    text-decoration: underline;
    transition: all 0.3s ease-out;
    &:hover {
      color: var(--light-color);
    }
  }
}


@media (max-width: 1200px) {
  .footer {
    &__contacts-wrap {
      display: block;
      margin-bottom: 15px;
    }

    &__link {
      display: block;
      margin-bottom: 10px;
    }
    &__social {
      width: 100%;
      align-items: end;
    }
  }
}

@media (max-width: 480px) {
  .footer {
    &__wrapp {
      display: flex;
      flex-direction: column;
      gap: 35px
    }

    &__menu-list {
      // margin-bottom: 35px;
    }

    &__menu-item {
      margin-right: 0;
      text-align: center;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    &__social {
      flex-direction: row;
      justify-content: center;
      gap: 17px
    }

    &__social-link {
      margin: 0;
    }
    &__contacts {
      padding-left: 0;
      text-align: center;
    }
    &__contacts-wrap {
      text-align: center;
    }

    &__policy {
      max-width: 100%;
      text-align: center;
    }
  }
}
