.header {
  margin-bottom: 50px;
  height: 765px;
  background-image: url("../img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  &__top {
    display: flex;
    margin-bottom: 120px;
    justify-content: space-between;
    align-items: center;
    padding: 31px 0;

    border-bottom: 1px solid rgba(113, 113, 113, 0.3);
  }
}

.nav {
  &__list {
    display: flex;
  }

  &__item {
    margin-right: 30px;
  }

  &__link {
    color: var(--black-color);
    font-size: 1rem;
    line-height: 1rem;
    transition: all 400ms ease-in-out;

    &:hover {
      color: var(--gray-color);
    }
  }

  &__hamburger-menu {
    display: none;
  }
}

.header-contacts {
  display: flex;

  &__link {
    font-size: 1.125rem;
    color: var(--black-color);
    font-weight: 500;
    line-height: 1rem;
    transition: all 400ms ease-in-out;

    &:hover {
      color: var(--gray-color);
    }
  }

  &__address {
    margin-left: 30px;
    font-style: normal;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1rem;
  }
}

.hero {
  position: relative;
  padding-bottom: 50px;
  &__content {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    padding-right: 20px;
    max-width: 736px;
    font-size: 4.625rem;
    font-weight: 400;
    color: var(--black-color);
    line-height: 5rem;
  }

  &__subtitle {
    font-family: "Rosamarena", sans-serif;
  }

  &__text {
    font-size: 1.25rem;
    max-width: 141px;
    color: var(--black-color);
  }

  &__price {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 218px;
    border-radius: 50%;
    border: 1px solid var(--black-color);
    border-right: 1px solid transparent;
    font-size: 2.19rem;
    font-weight: 500;

    &--pin {
      font-size: 3.5rem;
    }
  }
}

@media (max-width: 1600px) {
  .header {
    background-size: cover;
  }
}

@media (max-width: 1200px) {
  .header {
    background-image: url("../img/hero-bg-1200.jpg");
    background-size: cover;

    &__top {
      margin-bottom: 52px;
    }
  }

  .hero {
    &__text {
      display: none;
    }

    &__title {
      max-width: 421px;
      margin-bottom: 6px;
      line-height: 72px;
    }

    &__price {
      left: 36%;
      top: 41%;
    }
  }

  .nav {
    &__item {
      margin-right: 15px;
    }
  }

}

@media (max-width: 360px) {
  .header {
    position: relative;
    height: 1257px;
    background-color: #b8d5f5;
    background-image: url("../img/hero-bg-360.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;

    &__top {
      justify-content: start;
    }
    .nav {
      &__list {
        padding-top: 120px;
        position: fixed;
        top: 0;
        left: 0;
        right: 100%;
        z-index: 20;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: auto;
        background-color: var(--light-color);
        transition: 0.3s;
      }

      &__item {
        width: 100%;
        border-bottom: 1px solid var(--gray-color);

        &:first-child {
          border-top: 1px solid var(--gray-color);
        }
      }

      &__link {
        display: block;
        width: 100%;
        text-align: center;
        padding: 20px;
        font-size: 26px;
        line-height: 26px;
      }

      &__burger-menu {
        position: fixed;
        top: 40px;
        right: 10px;
        z-index: 30;
        width: 30px;
        height: 30px;
        transition: 0.3s;

        .burger::before,
        .burger::after,
        .burger {
          position: absolute;
          width: 30px;
          height: 2px;
          background-color: var(--black-color);
          transition: 0.3s;
        }

        .burger {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          &::before {
            content: '';
            top: 12px;
          }
          &::after {
            content: '';
            top: -12px;
          }
        }
      }
    }
    .burger-menu__active .nav__list {
      right: 0;
      transition: 0.3s;
    }
  }

  .header-contacts {
    flex-direction: column;
    width: 189px;

    &__address {
      margin-left: 0;
    }
  }

  .hero {
    position: static;
    &__content {
      display: block;
    }
    &__title {
      margin-bottom: 283px;
      font-size: 50px;
      line-height: 50px;
      text-align: center;
    }

    &__subtitle {

      font-size: 55px;
      line-height: 55px;
    }

    &__text {
      display: block;
      max-width: 100%;
      text-align: center;
    }

    &__price {
      left: 50%;
      top: 41%;
      transform: translateX(-50%);
    }

    &__btn {
      position: absolute;
      bottom: 10px;
    }
  }

}

.burger-menu__active .nav__burger-menu .burger{
  background-color: transparent;

  &::before {
    top: 0;
    transform: rotate(45deg);
  }

  &::after {
    top: 0;
    transform: rotate(-45deg);
  }
}
