.origin {
  margin-bottom: 120px;

  &__title {
    margin-bottom: 100px;
    font-size: 4.375rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    line-height: 5.25rem;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  & .item-1 {
    grid-column: 1/2;
  }

  & .item-2 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  & .item-3 {
    grid-column: 2/4;
    grid-row: 1/3;
  }

  & .item-4 {
    grid-column: 1/3;
  }

  &__subtitle {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    color: var(--gray-color);
    text-transform: uppercase;

    & img {
      margin-right: 30px;
    }
  }

  &__text {
    margin: 0;
    padding-right: 57px;
    font-size: 17px;
    color: var(--black-color);
    line-height: 22px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__map {
    max-width: 790px;
    min-height: 100%;
  }

  &__promo {
    position: relative;
    width: 790px;
    min-height: 100%;
    background-image: url("../img/bg-origin.png");
    background-repeat: no-repeat;
    background-position: left bottom;

    & .btn {
      position: absolute;
      bottom: 40px;
      left: 40px;
    }
  }
}


@media (max-width: 1200px) {
  .origin {

    & .item-1 {
      grid-column: 1/2;
    }

    & .item-2 {
      grid-column: 2/3;
      // grid-row: 2/3;
    }

    & .item-3 {
      grid-column: 1/3;
      grid-row: 1/2;
    }

    & .item-4 {
      grid-column: 2/3;
    }

    &__contetn {
      grid-template-columns: repeat(2, 1fr);
    }

    &__title {
      margin-bottom: 50px;
    }

    &__map {
      order: 0;
      width: 100%;
      height: 558px;
    }

    &__content {
      order: 1;
      width: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

    }

    &__block-2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      & .origin__content {
        display: block;
      }
    }

    &__promo {
      order: 2;
      width: auto;
      background-position: bottom center;

    }

  }

  .btn--white {
    min-width: 329px;
    left: 26px !important;
    bottom: 27px !important;
  }
}

@media (max-width: 480px) {
  .origin {
    position: relative;

    &__content {
      grid-template-columns: 1fr;
    }

    &__item {
      text-align: center;
    }

    & .item-1 {
      grid-column: auto;
      grid-row: 1/2;
    }

    & .item-2 {
      grid-column: auto;
      grid-row: 2/3;
    }

    & .item-3 {
      grid-column: auto;
      grid-row: 4/5;
    }

    & .item-4 {
      grid-column: auto;
      grid-row: 5/6;
    }

    & .item-5 {
      grid-row: 3/4;
    }

    &__title {
      font-size: 40px;
      text-align: center;
      line-height: 48px;
    }

    &__text {
      padding: 0 0;
    }

    &__subtitle {
      display: flex;
      flex-direction: column;
    }

    &__icon {
      margin-bottom: 20px;
    }

    &__promo {
      position: relative;
      height: 482px;
      background-image: url("../img/bg-origin-mobile.png");
    }

    & .btn {
      position: absolute;
      background-color: var(--black-color);
      color: var(--light-color);
      left: 0 !important;
      bottom: -100px !important;

      &:hover {
        background-color: var(--light-color);
        color: var(--black-color);
        border: 1px solid var(--black-color);
      }
    }
  }
}
