.origin {
  margin-bottom: 120px;
  &__title {
    margin-bottom: 100px;
    font-size: 4.375rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    line-height: 5.25rem;
  }

  &__block {
    display: flex;
    gap: 30px;

    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  &__content {
    max-width: 380px;
  }

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__subtitle {
    margin-left: 31px;
    font-size: 25px;
    font-weight: 400;
    color: var(--gray-color);
    text-transform: uppercase;
  }

  &__text {
    margin: 0;
    padding-right: 57px;
    font-size: 17px;
    color: var(--black-color);
    line-height: 22px;
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }

  &__map {
    width: 100%;
    min-height: 100%;
  }

  &__promo {
    position: relative;
    width: 100%;
    min-height: 100%;
    background-image: url("../img/bg-origin.png");
    background-repeat: no-repeat;
    background-position: left bottom;

    & .btn {
      position: absolute;
      bottom: 40px;
      left: 40px;
    }
  }


}
