<section class="about">
  <h2 class="about__title"><span class="first-letter">О</span>проекте</h2>
  <div class="about__content">
    <div class="about__expert expert">
      <img src="./img/avatar-1.png" alt="Эксперт проекта" class="expert__avatar">
      <div class="expert__name">Гуторова Виктория</div>
      <div class="expert__title">Эксперт проекта</div>
    </div>
    <div class="about__unit unit">
      <div class="unit__title">Сервис</div>
      <p class="unit__text">Профессиональный брокер по&nbsp;недвижимости с&nbsp;20&nbsp;летним годами опыта на&nbsp;рынке. Я&nbsp;готов помочь вам найти идеальный дом или выгодно продать вашу недвижимость</p>
    </div>
    <div class="about__slide-control control">
      <ul class="control__list list-reset">
        <li class="control__item"></li>
        <li class="control__item"></li>
        <li class="control__item"></li>
        <li class="control__item"></li>
      </ul>
    </div>
  </div>
</section>
