<div class="gallery">
  <div class="gallery__wrapp">
    <div class="gallery__item item__left-radius item-1"><img src="./img/img-1.png" alt=""></div>
    <div class="gallery__item gallery__col-2 item-2"><img src="./img/img-2.png" alt=""></div>
    <div class="gallery__item gallery__col-2 item-3"><img src="./img/img-3.png" alt=""></div>
    <div class="gallery__item item-4"><img src="./img/img-4.png" alt=""></div>
    <button class="btn btn-reset button-modal item-5" data-fancybox-trigger="gallery" data-fancybox-index="0">Показать все фото</button>
    <div class="gallery__item item-6"><img src="./img/img-5.png" alt=""></div>

    <div class="gallery__slider">
      <a href="./img/bg_about.png" data-fancybox="gallery" id="test"></a>
      <a href="./img/bg-origin.png" data-fancybox="gallery"></a>
      <a href="./img/bg_about.png" data-fancybox="gallery"></a>
    </div>
  </div>
</div>
