
<div class="gallery">
  <div class="gallery__wrapp">
    <div class="gallery__column gallery__col-1">
      <div class="gallery__item item__left-radius"><img src="./img/img-1.png" alt=""></div>
    </div>
    <div class="gallery__column">
      <div class="gallery__item gallery__col-2"><img src="./img/img-2.png" alt=""></div>
      <div class="gallery__item gallery__col-2"><img src="./img/img-3.png" alt=""></div>
    </div>
    <div class="gallery__column gallery__col-3">
      <div class="gallery__item"><img src="./img/img-4.png" alt=""></div>
      <button class="btn btn-reset">Показать все фото</button>
      <div class="gallery__item"><img src="./img/img-5.png" alt=""></div>
    </div>
  </div>
</div>
