<header class="header">
  <div class="container header__container">
    <div class="header__top">
      <nav class="header__nav nav">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
          <li class="nav__item"><a href="#" class="nav__link">О проекте</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Подробно</a></li>
        </ul>
      </nav>
      <div class="header-contacts">
        <div class="header-contacts__phone"><a href="tel:+79999999999" class="header-contacts__link">+7 (999)
            999-99-99</a></div>
        <address class="header-contacts__address">пр. Ленинградский, м. Белорусская</address>
      </div>
    </div>

    <div class="hero">
      <div class="hero__content">
        <h1 class="hero__title header-1">Жилой комплекс премиум класса <br>
          <span class="hero__subtitle subtitle-1">у метро Давыдково</span>
        </h1>
        <div class="hero__text">квартира
          со&nbsp;статусом</div>
      </div>
      <div class="hero__btn">
        <button class="btn-reset btn" data-hystmodal="#modal-form">Получить консультацию</button>
      </div>
      <div class="hero__price">от<br> <span class="hero__price--pin">25,3</span> млн</div>
    </div>
  </div>
</header>
