<section class="origin">
  <h2 class="origin__title"><span class="first-letter">У</span>никальность проекта</h2>
  <div class="origin__block">
    <div class="origin__content">
      <div class="origin__subtitle origin--place">
        Расположение
      </div>
      <p class="origin__text">Можайский район&nbsp;&mdash; уникальное место, где можно легко уловить энергичный ритм большого города и&nbsp;в&nbsp;то&nbsp;же время почувствовать единение с&nbsp;природой. Когда-то здесь проходил главный путь из&nbsp;Москвы в&nbsp;Европу и&nbsp;располагались дворянские усадьбы с&nbsp;ландшафтными парками.</p>
      <div class="origin__subtitle origin--arcitecture">Архитектура</div>
      <p class="origin__text">Переменная высота башен формирует динамичный силуэт в&nbsp;скайлайне. Уникальные скульптурные образы
        и&nbsp;индивидуальные фасады придают выразительность и&nbsp;знаковость
        каждому небоскребу.</p>
    </div>
    <div id="origin__map" class="origin__promo origin__map"></div>
  </div>
  <div class="origin__block">
    <div class="origin__promo">
      <button class="btn btn-reset">получить каталог</button>
    </div>
    <div class="origin__content">
      <div class="origin__subtitle origin--garden">Благоустройство</div>
      <p class="origin__text">Привлекательной локацией для юных резидентов станет Волшебный лес
        с&nbsp;фантасмагорическими элементами: зеркальными домиками, деревянными грибами и&nbsp;игровым комплексом &laquo;муравейник&raquo;. Лес завораживает светящимися и&nbsp;зеркальными поверхностями, где реальность и&nbsp;воображение сливаются.</p>
      <p class="origin__text">Центральная площадь с&nbsp;прудом, амфитеатром и&nbsp;библиотекой&nbsp;&mdash; оазис гармонии и&nbsp;спокойствия. Амфитеатр
        с&nbsp;органичными формами поддерживает естественный ландшафт, создавая
        симбиоз архитектуры и&nbsp;природы
        для отдыха и&nbsp;медитации.</p>
    </div>
  </div>
</section>
